@{
ViewData["Title"] = "About";
}

@model AboutUserViewModel
<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
    <p>This page is for members only!</p>
    <p>Your email: @Model.Email</p>
    <p>Your phone number: @Model.PhoneNumber</p>
    
    <div class="container text-center mt-5">
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="EditProfile">Edit Profile</a>
    </div>
</div>
