@{
ViewData["Title"] = "AddRole";
}

@model QuickNotes.Areas.Admin.Models.AddRoleViewModel

<div>
    @if (TempData["SuccessMessage"] != null)
    {
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
    }

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-area="Admin" asp-controller="Roles" asp-action="AddRole" method="post">
        <div class="row mb-3">
            <label for="RoleName" class="col-sm-2 col-form-label" asp-for="RoleName">Role name:</label>
            <div class="col-sm-10">
                <input asp-for="RoleName" class="form-control">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Role</button>
    </form>
</div>

