@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="AddRole">Add Role</a>

@{
ViewData["Title"] = "Index";
}

@model List<QuickNotes.Areas.Admin.Models.RoleViewModel>

<h2>Roles List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Role Name</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var role in Model)
    {
    <tr>
        <td>@role.Id</td>
        <td>@role.Name</td>
    </tr>
    }
    </tbody>
</table>


